<template>
  <div class="mx-auto container mt-2 bg-gray-100">
    <div class="pl-1 text-center">
      <h2 class="text-2xl text-gray-900">Example Client</h2>
      <h4 class="text-sm text-gray-800">test@example.com</h4>
    </div>
    <div class="pl-2 mt-2">
      <h4 class="text-xl text-gray-900 pb-2">Projects</h4>
      <project-small :project="projects[0]"></project-small>
    </div>
  </div>

</template>

<script>
import ProjectSmall from '@/components/ProjectSmall.vue';

export default {
  name: 'Dashboard',
  components: {
    ProjectSmall,
  },
  data() {
    return {
      balance: 0,
      projects: [
        {
          name: 'This Website',
          status: {
            text: 'In Progress',
            color: 'yellow',
          },
          description: 'A web app to manage client projects',
          deployments: [
            {
              name: 'production',
              endpoint: 'http://rickhenry.dev',
            },
            {
              name: 'staging',
              endpoint: 'http://example.com',
            },
            {
              name: 'dev',
              endpoint: 'http://example.com',
            },
          ],
          commits: [
            'updated stuff and updated other stuff and fixed a bug',
          ],
          releases: [
            {
              tag: 'v1.1',
              description: 'fixed some stuff that was wrong with v1',
            },
            {
              tag: 'v1',
              description: 'reached 1.0 yay!',
            },
          ],
          code: {
            backend: 'https://gitlab.com/rickhenrydev-site/api',
            landing: 'https://gitlab.com/rickhenrydev-site/landing',
            portal: 'https://gitlab.com/rickhenrydev-site/portal',
          },
          issues: {
            backend: 'https://gitlab.com/rickhenrydev-site/api/issues/new',
            landing: 'https://gitlab.com/rickhenrydev-site/landing/issues/new',
            portal: 'https://gitlab.com/rickhenrydev-site/portal/issues/new',
          },
        },
      ],
    };
  },
};
</script>

<style scoped>

</style>
