<template>
  <div class="mx-2 p-3 bg-white shadow rounded border border-white">
    <h4 class="text-lg text-gray-800">
      {{ project.name }} &mdash;
      <span :class="['text-' + project.status.color + '-600']">
        {{ project.status.text }}
      </span>
    </h4>
    <p class="content">{{ project.description }}</p>
    <h6 class="heading">Latest release</h6>
    <p class="content">
      <span class="item-title">
        {{ project.releases[0].tag }}
      </span>
      {{ project.releases[0].description | truncate(50) }}
    </p>
    <h6 class="heading">Deployments</h6>
    <p class="content">
      <span class="item-title">{{ project.deployments[0].name }} </span>
      <a :href="project.deployments[0].endpoint">
        {{ project.deployments[0].endpoint }}
      </a>
    </p>
    <h6 class="heading">Latest commit</h6>
    <p class="content">{{ project.commits[0] | truncate(50) }}</p>
  </div>

</template>

<script>
import truncateMixin from '../mixins/truncateMixin';

export default {
  mixins: [truncateMixin],
  name: 'ProjectSmall',
  props: {
    project: {},
  },
};
</script>

<style scoped>
  .item-title {
    @apply font-bold text-gray-900;
  }

  .heading {
    @apply text-gray-800 mt-1;
  }

  .content {
    @apply text-sm text-gray-700;
  }

  .content a {
    @apply text-green-600;
  }

  .content a:hover {
    @apply underline;
  }
</style>
