<!--suppress CssInvalidAtRule -->
<template>
  <div id="app">
    <div id="nav">
      <a href="/">
        <main-logo class="logo" />
      </a>
      <ul>
        <router-link to="/">Home</router-link>
        <router-link to="/about">About</router-link>
        <router-link to="#">Logout</router-link>
      </ul>
    </div>
    <router-view />
  </div>
</template>

<script>
import MainLogo from '../public/img/logo-darker.svg';

export default {
  name: 'App',
  components: {
    MainLogo,
  },
};
</script>

<style type="postcss">
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @tailwind screens;

  #app {
  }

  #nav {
    @apply flex flex-col items-center bg-green-300 text-green-700 shadow w-full;
  }

  #nav ul {
    @apply flex flex-row pb-2 w-full justify-center;
  }

  #nav a {
    @apply ml-2 mr-2;
  }

  #nav a:hover {
    @apply text-green-800;
  }

  #nav a.router-link-exact-active {
    @apply text-green-900;
  }

  .logo {
    @apply h-12 w-auto;
  }

  @screen md {
    #nav {
      @apply flex-row pl-5;
    }

    #nav ul {
      @apply pb-0;
    }

    #nav ul a:last-child {
      @apply ml-auto mr-5;
    }

  }
</style>
